* {
	font-family: '微軟正黑體';
	background-color: #bbb;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0; /* 去除body和html之間的預設距離 */
	/* 置中 */
	display: flex;
	justify-content: center;
	align-items: center;
}
